#fire_pointer{
	width: 60px;
	height: 60px;
	border-radius: 32.5px;
	position: absolute;
	display: none;
	border: 3px solid white;
}

#fire_pointer_small{
	width: 1px;
	height: 1px;
	border-radius: 32.5px;
	position: absolute;
	display: none;
	background-color: white;
}

#canvas_div{
	z-index: 1000;
	position: absolute;
	width: 500px;
	height: 500px;
}

#holder{
	position: absolute;
	width: 500px;
	height: 500px;
}